[Unit]
Description=sdk webapp

[Service]
Environment="TMPDIR=/var/tmp/"
ExecStart=/usr/bin/puma -e production
Type=simple
WorkingDirectory=/usr/lib/sdk-webapp-bundle/
User=mersdk
KillSignal=SIGKILL

[Install]
WantedBy=multi-user.target
