[Unit]
Description=sdk webapp

[Service]
ExecStart=/usr/bin/rackup 
Type=simple
WorkingDirectory=/usr/lib/sdk-webapp-bundle/
User=mersdk
KillSignal=SIGKILL

[Install]
WantedBy=multi-user.target
